DATABASE_POSTGRES_CONTAINER_NAME = 
DATABASE_POSTGRES_VOLUME_NAME = 
POSTGRES_DATABASE_NAME = 
POSTGRES_USERNAME = 
POSTGRES_PASSWORD = 
POSTGRES_HOST = 
POSTGRES_PORT = 

CAPASHINO_BASE_URL = 
CAPASHINO_API_KEY = 

ORDER_SERVICE_CALLBACK_BASE_URL = 

KAFKA_BOOTSTRAP_SERVERS = 
