POSTGRES_DATABASE_NAME = 
POSTGRES_USERNAME = 
POSTGRES_PASSWORD = 
POSTGRES_HOST = 
POSTGRES_PORT = 

CAPASHINO_BASE_URL = 
CAPASHINO_API_KEY = 

ORDER_SERVICE_CALLBACK_BASE_URL = 

KAFKA_BOOTSTRAP_SERVERS = 
KAFKA_CONSUMER_GROUP_ID = 

KAFKA_OUTBOX_ATTEMPTS_MAX = 
KAFKA_OUTBOX_BATCH_LIMIT = 
KAFKA_OUTBOX_DISPATCH_INTERVAL_SECONDS = 

NOTIFICATION_OUTBOX_ATTEMPTS_MAX = 
NOTIFICATION_OUTBOX_BATCH_LIMIT = 
NOTIFICATION_OUTBOX_DISPATCH_INTERVAL_SECONDS =
